//---------------------------------------------------------------------------
  >>> Home Page :
  ---------------------------------------------------------------------------
extends ./template/main

block variables
  - let pageTitle = 'Home page';
  - let padeDescription = pageTitle + ' description';

block content
  
  section.home-firstscreen
    .container